{% extends 'base.html.twig' %}

{% block title %}SchoolYearB index{% endblock %}

{% block body %}
    <h1>SchoolYearB index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for school_year_b in school_year_bs %}
            <tr>
                <td>{{ school_year_b.id }}</td>
                <td>{{ school_year_b.name }}</td>
                <td>{{ school_year_b.dateStart ? school_year_b.dateStart|date('Y-m-d') : '' }}</td>
                <td>{{ school_year_b.dateEnd ? school_year_b.dateEnd|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('school_year_b_show', {'id': school_year_b.id}) }}">show</a>
                    <a href="{{ path('school_year_b_edit', {'id': school_year_b.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('school_year_b_new') }}">Create new</a>
{% endblock %}
